    body,#timeline .feature h3, #timeline .feature h4, #timeline .feature h5, #timeline .feature h6  {
          font-family: Arial !important;
      font-size: 14px;
    }
    body #timeline .feature p {
      font-size: 10px;
    }
    #timeline .feature h3, #timeline .feature h4, #timeline .feature h5, #timeline .feature h6 {
      font-size: 14px;
    }
    #timeline .feature .slider h2.date {
      font-size: 12px;
      color: #444;
    }
    
    
    .info {
      background: #fff;
      font-family: Arial;
      font-size: 14px;
      padding: 0;
      margin: 0;
    }
    .info h1 {
      
      color: #222;
    }
   .info  h1, h2, h3 {
      padding: 0;
      margin: 0;
    }
   .info  h2 {
      color: #444;
    }
    .ed-container {
    
      background: #fff;
      padding: 20px;
      margin: 0;
      margin: auto;

      width: 960px;
    
    }
    .timeline {
      width: 640px;
      float: left;
      margin-left: 20px;
      padding-bottom: 20px;
    }
    #timeline-embed {
      height: 520px !important;
    }
    .contentarea {
    }
    .info header {
      margin-top: 30px;
    }
    .info {
      float: left;
      width: 300px;
      margin-top: 40px;
    }
    .info-list {
      line-height: 24px;
      list-style: none;
      margin: 0;
      padding: 0;
      margin-left: 45px;
      background: #fff;
      width: 170px;
      margin-top: 20px;
    }
    .info-list li {
      padding: 0;
      margin: 0;
      line-height: 24px;
      margin-bottom: 5px;
    }
    .info-list li a {
          padding: 0;
      margin: 0;
      margin-top: -5px;
      line-height: 24px;
      height: 24px;
      text-decoration: none;
      color: #444;
      display: inline-block;
    }
    .info-list li a:hover {
      color: #000;
    }
    .info .icon {
      width: 24px;
      height: 24px;
      display: inline-block;
      float: left;
      margin-right: 10px;
    }
   .info .skype {
      background: url("../img/skype.png");
    }
   .info .twitter {
      background: url("../img/twitter.png");
    }
  .info  .email {
      background: url("../img/email.png");
    }
  .info  .linkedin {
      background: url("../img/linkedin.png");
    }
 .info   .phone {
      background: url("../img/phone.png");
    }
  .info  .footer {
      margin-left: 40px;
    }
  .info  .aciem {
      background: url("../img/aciem.png") no-repeat;
      width: 40px;
      height: 40px;
      margin: auto;
      float: left;
      background-size: 40px;
    }
   .info .engineers { 
      background: url("../img/engineers.png") no-repeat;
      float: left;
      width: 40px;
      height: 40px;
      margin: auto;
      background-size: 31px;
      margin-left: 10px;
    }
    
  .info  .uni { 
      opacity: 0.9;
      border: 1px solid #fff;
      overflow: hidden;
      border-radius: 4px;
      background: url("../img/uni.jpg") no-repeat;
      float: left;
      width: 28px;
      height: 28px;
      margin: auto;
      margin-left: 10px;
      background-size: 28px;
      
    }
  .info  .footer {
      margin-top: 30px;
      text-align: center;
      
      
    }
  .info  .profile {
      float: left;
      margin-right: 10px;
      border: 2px solid #ebebeb;
      background: url("../img/edwardcortes.jpg");
      background-size: 64px;
      height: 64px;
      width: 64px;
    }
