    
    body {
      background: #ebebeb url("../img/bg.png");
      font-family: Arial;
      font-size: 14px;
      padding: 0;
      margin: 0;
    }
    h1 {
      
      color: #222;
    }
    h1, h2, h3 {
      padding: 0;
      margin: 0;
    }
    h2 {
      color: #444;
    }
    .container {
    
      background: #fff;
      padding: 20px;
      margin: 0;
      margin: auto;
      margin-top: 100px;
      background: #fff url("../img/pid-unit-utama.jpg") top right no-repeat;
      background-size: 68%;
      border-top: 3px solid #333;
      border-bottom: 3px solid #333;
    }
    
    .header {
      margin-top: 30px;
    }
    .info {
      margin-top: 40px;
    }
    .info-list {
      line-height: 24px;
      list-style: none;
      margin: 0;
      padding: 0;
      margin-left: 45px;
      background: #fff;
      padding: px;
      width: 220px;
    }
    .info-list li {
      padding: 0;
      margin: 0;
      line-height: 24px;
      margin-bottom: 5px;
    }
    .info-list li a {
          padding: 0;
      margin: 0;
      margin-top: -5px;
      line-height: 24px;
      height: 24px;
      text-decoration: none;
      color: #444;
      display: inline-block;
    }
    .info-list li a:hover {
      color: #000;
    }
    .icon {
      width: 24px;
      height: 24px;
      display: inline-block;
      float: left;
      margin-right: 10px;
    }
    .skype {
      background: url("../img/skype.png");
    }
    .twitter {
      background: url("../img/twitter.png");
    }
    .email {
      background: url("../img/email.png");
    }
    .linkedin {
      background: url("../img/linkedin.png");
    }
    .phone {
      background: url("../img/phone.png");
    }
    .footer {
      margin-left: 40px;
    }
    .aciem {
      background: url("../img/aciem.png") no-repeat;
      width: 40px;
      height: 40px;
      margin: auto;
      float: left;
      background-size: 40px;
    }
    .engineers { 
      background: url("../img/engineers.png") no-repeat;
      float: left;
      width: 40px;
      height: 40px;
      margin: auto;
      background-size: 31px;
      margin-left: 10px;
    }
    
    .uni { 
      opacity: 0.9;
      border: 1px solid #fff;
      overflow: hidden;
      border-radius: 4px;
      background: url("../img/uni.jpg") no-repeat;
      float: left;
      width: 28px;
      height: 28px;
      margin: auto;
      margin-left: 10px;
      background-size: 28px;
      
    }
    .footer {
      margin-top: 30px;
      text-align: center;
      
      
    }
    .profile {
      float: left;
      margin-right: 10px;
      border: 2px solid #ebebeb;
      background: url("../img/edwardcortes.jpg");
      background-size: 64px;
      height: 64px;
      width: 64px;
    }
